body {
    background-color: white;
    height: 100%;
    margin: 0;
}

hr {
width: 100%;
color: slateblue;
}

.title {
    color: black;
    font-size: 30px;
   }

h2 {
    color: black;
    font-size: 25px;
}

 h3 {
     color: black;
     text-decoration: underline;
     font-size: 25px;
 }   

 p {
     color: black;
     font-size: 20px;
 }

 #top {
     text-decoration: none;
   
 }

 a:link {
     text-decoration: none;
 }

 .contents {
     font-size: 20px;
 }

 #start {
    color: green;
    font-size: 15px;
 }
